<!DOCTYPE>
<html ng-app="registerarmsapp">
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/styles.css" >
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="/js/scripts.js" charset="utf-8"></script>
<script src="controllers/controller.js"></script>




  <title>Replicant R' Us</title>
</head>
<body >
  <div class="container" ng-controller="AppCtrl">
    <h1 class="replicant">Replicant R' Us</h1>
    <p>We are your number one cybernetics company in the world, please take some time to sign in and be part of our program.</p>

    <table class="table">
      <thead>
        <tr>
          <th id="name">Name</th>
          <th id="email">Email</th>
          <th id="number">Number</th>
          <th id="limb">Limb Wanted</th>


        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="form-control" ng-model="contact.name"></td>
          <td><input class="form-control" ng-model="contact.email"></td>
          <td><input class="form-control" ng-model="contact.number"></td>
          <td><input class="form-control" ng-model="contact.animal"></td>
          <td><button class="btn btn-primary" ng-click="addContact()">Sign Up</button></td>
          <td><button class="btn btn-info" ng-click="update()">Edit</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
        <tr ng-repeat="contact in contactlist">
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.number}}</td>
          <td>{{contact.animal}}</td>
          <td><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>

  </div>

</body>
</html>
